.container {
  max-width: 100% !important;
  z-index: 0;
  padding: 0 !important;

  .carousel-item {
    height: 600px;

    img {
      filter: brightness(0.4);
    }

    .carousel-caption {
      bottom: 230px;

      h3 {
        font-size: 52px;
        font-weight: 800;
        line-height: 63px;
        color: #fe633d;
        text-transform: uppercase;
      }

      p {
        color: #fff;
        font-size: 21px;
        letter-spacing: 1px;
      }
    }
  }

  .why-us {
    height: 500px;
    border: 0.5px solid red;
  }
}
