.about-container {
  padding: 160px 0 50px 0;
  background-color: darken($color: #3987cf, $amount: 30);
  color: #f26b49;

  .inner-container {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: auto;

    .about-txt {
      padding: 0 60px;

      .header {
        display: flex;
        align-items: center;

        img {
          width: 40px;
        }
        span {
          font-size: 16px;
          letter-spacing: 1px;
          font-weight: 600;
          margin-left: 10px;
        }
      }

      .txt {
        color: #fff;

        h2 {
          font-size: 44px;
          font-weight: 700;
          line-height: 46px;
          margin: 15px 0 30px 0;
        }

        p {
          line-height: 26px;
        }
      }
    }

    .about-imgs {
      position: relative;

      img {
        width: 350px;
      }
      #img2 {
        position: absolute;
        right: 50px;
        top: -100px;
        width: 250px;
        opacity: 0.9;
      }
    }
  }
}
