.header-wrapper {
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(209, 208, 208);
  background-color: #fff;

  .covid-alert {
    background: #da291c;
    text-align: center;
    line-height: 25px;
    padding: 10px 15px;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 15px;
    max-width: 1020px;
    margin: 0 auto;

    img {
      height: 55px;
    }

    .site-nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 0 20px;
        padding: 5px;
        text-decoration: none;
        color: black;
      }
    }
  }
}
