.header-wrapper {
  border-bottom: 0.5px solid rgb(175, 175, 175);

  .covid-alert {
    background: #da291c;
    text-align: center;
    line-height: 25px;
    padding: 10px 15px;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    // align-content: flex-start;
    padding: 10px 15px;
    max-width: 1020px;
    margin: 0 auto;

    .site-nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        margin: 0 20px;
        padding: 5px;
        text-decoration: none;
        color: black;
      }
    }
  }
}
